<section class='container'>
  <article class='row'>
    <div class='col'>
      <div class='card'>
        <div class='card-header'>
          <h2 class="h4">Corny Jokes application</h2>
        </div>
        <div class='card-body'>
          I am a corny joke
        </div>
      </div>
    </div>
  </article>
</section>